.modal {
    @extend %column;

    padding: 16px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    justify-content: space-between;
    gap: 24px;
}

.modal-menu {
    position: relative;
}

.modal-more {
    @extend %menu;
    @extend %column;

    background-color: rgba(238, 244, 255, 0.61);
    padding: 16px 8px;
    font-family: $font-500;
    gap: 12px;
    transition: margin-bottom 2s;
}

.modal-end {
    @extend %column;

    gap: 16px;
}

.txt-gray {
    color: $gray-3;
    font-size: 12px;
    font-family: $font-500;
}

.width-480 {
    width: 480px;
}

.modal-phone {
    color: $gray-2;
    font-family: $font-500;
    font-size: 16px;
}