.card {
    position: relative;
    width: 360px;
    height: 380px;
    background-color: $gray-3;
    flex-shrink: 0;
    border-radius: 30px;
}

.cardTitle {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 30px;
    box-shadow: 5px 5px 7px rgba(181, 184, 211, 0.2);
    border-radius: 25px;
    background: linear-gradient(128.66deg, #B3EBFF -0.22%, #FBC2EB 100%);
    font-family: $font-500;
    font-size: 20px;
    text-align: center;
    color: $gray-5;
}