.fp-main {
    position: relative;
    min-height: 90vh;
    z-index: 1;
    margin-left: 10%;
    margin-right: 8px;
    // margin-bottom: 11vh;
    margin-bottom: 160px;
    max-width: 970px;
    padding-top: 6%;

    // @include sm {
    //     padding-top: 6%;
    // }
}

.buttons-block {
    @extend %row;

    gap: 24px;
}

.home-title {
    @extend %title;

    font-size: 64px;
    line-height: 80px;
    margin-bottom: 88px;
}
