.fp-main {
    position: relative;
    height: 90vh;
    z-index: 1;
    margin-left: 10%;
    margin-right: 8px;
    margin-bottom: 11vh;
    max-width: 970px;
    padding-top: 6%;

    // @include sm {
    //     padding-top: 6%;
    // }
}

.buttons-block {
    @extend %row;

    gap: 24px;
}