.advantages {
    @extend %row;

    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.61);
    box-shadow: 5px 5px 7px rgba(181, 184, 211, 0.2);
    border-radius: 30px;
    padding: 25px;
    margin-top: 68px;
    gap: 24px;
    min-width: 544px;
}