%overBtn {
    @extend %button;

    font-family: $font-400;
    padding: 10px 25px;
    border-radius: 20px;
}

.category-button {
    @extend %overBtn;

    color: $gray-1;
    border: 1px solid $gray-1;
    background-color: white;

    &:hover {
        color: $purple;
    }
}

.category-button-selected {
    @extend %overBtn;

    background: $purple-gradient;
    color: white;
    border: none;
}