$gray-1: #333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #636169;
$gray-5: #545454;
$gray-6: #BDBDBD;

$pink: #E99AD1;

$purple: #C3A3EC;
$purple-1: #9782fd;
$purple-2: #EDEDFE;
$purple-3: #a893b8;

$pink-gradient: linear-gradient(360deg, #fea7d1 0%,  #fbcfe9 100%);
$purple-gradient: linear-gradient(360deg, #9782fd 0%, #c0b1ff 100%);
$blue-gradient: linear-gradient(360deg, #4ACBF8 0%, #87DCFF 100%);