@import 'src/style/style.scss';

.header {

    @extend %row;

    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10);
    align-items: center;

}

.menu {

    @extend %row;

    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 4px;
    white-space: nowrap;
    list-style-type: none;

}

.tab {
    color: #4D4D4D;
    font-family: $font-600;
    font-size: 12px;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        color: $pink;
    }
}

.phone {
    color: $gray-2;
    font-family: $font-700;
    margin-left: 10px;
    font-size: 18px;
}

.ellipse {
    position: relative;
    width: 175px;
    height: 30px;
    flex-shrink: 0;
    background: linear-gradient(129deg, $pink 0%, $purple 100%);
    border-radius: 20px;
    box-shadow: 5px 5px 7px 0px rgba(181, 184, 211, 0.20);
    padding-left: 40px;
    font-family: $font-700;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;

    &::before {
        @extend %center;

        content: url('../../public/icons/phone.svg');
        position: absolute;
        width: 45px;
        height: 45px;
        background: linear-gradient(129deg, white 0%, $pink 100%);
        left: -16px;
        top: -9px;
        border-radius: 50%;
    }
}