@import 'src/style/fonts.scss';
@import 'src/style/colors.scss';

$font-700: MontserratBold;
$font-600: MontserratSemiBold;
$font-500: MontserratMedium;
$font-400: MontserratRegular;
$font-300: MontserratLight;

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%column {
    display: flex;
    flex-direction: column;
}

%row {
    display: flex;
    flex-direction: row;
}

* {
    box-sizing: border-box;
}

%cross {
    position: absolute;
    top: 0;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $gray-1;
}

.close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    background-color: transparent;
     
    &:hover {
        opacity: 1;
    }

    &::before {
        @extend %cross;

        transform: rotate(45deg);
    }

    &::after {
        @extend %cross;

        transform: rotate(-45deg);
    }
}